body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

#quiz-container {
  max-width: 450px;
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 6px;
  box-shadow: -3px 5px 20px rgba(0, 0, 0, 0.1);
}

div#questions {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

#progress-container {
  height: 5px;
  background-color: #edebeb;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

#progress-bar {
  height: 100%;
  width: 0;
  background: #f8545d;
  transition: width 0.1s;
}

.question {
  display: none;
}

.question.active {
  display: block;
}

.question.active h2 {
  margin-bottom: 30px;
}

.wrapper {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.option {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 30px;
}

input {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background 0.3s;
  padding: 10px;
  height: 35px;
  max-width: 425px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  font-weight: 600;
  padding-left: 30px;
}

.option:hover {
  background: #f0f0f0;
}

.option.selected {
  outline: 2px solid #f8545d;
}

.option img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 210px;
}

.option span {
  padding: 3px 0 3px 27px;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  display: block;
  color: #333;
  background-color: #ebff5d;
  width: 100%;
}

.btn {
  padding: 20px 0;
  background: #f8545d;
  color: white;
  border: none;
  border-radius: 8px;
  max-width: 450px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.result {
  text-align: center;
  display: none;
}

.wrapper-box {
  flex-direction: column;
}

.option-box {
  padding: 10px;
  height: 35px;
  max-width: 425px;
  width: 100%;
}

.wrapper__img {
  max-width: 350px;
}

#bmi-category {
  font-size: 28px;
  font-weight: 600;
}

.result h2,
.result h3,
.result p {
  margin-bottom: 30px;
}


#bmi-value {
  position: absolute;
  top: 0px;
  left: -10px;
  background-color: white;
  color: black;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 12px;
}

#bmi-marker {
  position: absolute;
  top: -5px;
  width: 2px;
  height: 40px;
  background: black;
}

/* #progress-bar {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 30px;
  background: linear-gradient(to right, green, yellow, orange, red);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
} */